.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 90px;
  margin-top: 50px;

  a {
    text-decoration: none;
  }
}

.searchAndFilterBars {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}